<div id="about-modal" class="modal">
    <div class="modal-content">
        <h4><span style="color: #ababab;">Over</span>stand</h4>

        <h5>We challenge you to challenge your own opinions.</h5>

        <p>Are you ever curious about ideas that are different than your own?</p>

        <p>We've noticed that it can be easier to get reinforcement of one's own opinions, than to look critically at
            alternatives. With personalised content like Facebook feeds and Google search, one can get stuck in a
            "filter bubble" where one only gets shown what they already wanted to see. This effect makes it harder for
            you to look outside your personal walled garden.</p>

        <p>No matter how connected we stay to our networks, if we don't get outside our comfort zones we are in a way
            disconnecting. And what might happen if we always show people exactly what they want to see?</p>

        <p>This whole thing is a big issue. This site aims to address a small part of it.</p>

        <h5>How does it work?</h5>

        <p>The topic page shows you a tricky topic, and gives some points that help you understand both sides of the
            story.</p>

        <p>Using the chat functionality you can choose to safely discuss the different opinions with people who might
            not feel the same way as you.</p>

        <button class="btn modal-close waves-effect waves-light" type="submit" name="action">OK</button>
    </div>
</div>
