<script>
    $("#{{ mode }}-form").submit(function (event) {
        event.preventDefault();
        var form = $(this);
        $.ajax({
            type: 'post',
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function (response) {
                if (response['success']) {
                    $('#{{ mode }}-modal').modal('close');
                    window.user_id = response['user_id'];
                    window.logged_in();
                } else {
                    var non_field_error = response['errors']['__all__'];
                    if (non_field_error) {
                        window.error_message(form, non_field_error);
                    } else {
                        window.apply_errors(response, '{{ mode }}');
                    }
                }
            },
            error: function () {
                window.error_message(form);
            }
        });
    });
    $(document).ready(function () {
        $('#{{ mode }}-modal').modal();
    });
</script>