<div id="{{ mode }}-modal" class="modal">
    <div class="container">
        <form id="{{ mode }}-form" action="{% url mode %}" class="col s12">
            <div class="modal-content">
                <h5>{{ mode_cap }}</h5>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="{{ mode }}-username" type="text" name="username" class="validate"
                               placeholder="Your username">
                        <label for="{{ mode }}-username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="{{ mode }}-password" name="password" type="password" class="validate"
                               placeholder="Your password">
                        <label for="{{ mode }}-password">Password</label>
                    </div>
                </div>
                {% include 'message_container.html' %}
                <button class="btn waves-effect waves-light blue lighten-2" type="submit">
                    {{ mode }}
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
</div>