<nav class="z-depth-3">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
            <li><a href="#"><i class="material-icons">menu</i></a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Login</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="sass.html">Sass</a></li>
        </ul>
    </div>
    </div>
</nav>