<nav class="z-depth-3">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Overstand</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
            <li><a href="#"><i class="material-icons">menu</i></a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down logged-out"
                {% include 'auth_toggle.html' with logged_in=False %}>
            <li><a href="#login-modal">Login</a></li>
            <li><a href="#register-modal">Register</a></li>
        </ul>
        <ul id="mobile-demo" class="side-nav logged-out"
                {% include 'auth_toggle.html' with logged_in=False %}>
            <li><a href="#login-modal">Login</a></li>
            <li><a href="#register-modal">Register</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down logged-in"
                {% include 'auth_toggle.html' with logged_in=True %}>
            <li><a id="logout-button1" href="#">Logout</a></li>
        </ul>
        <ul id="mobile-demo" class="side-nav logged-in"
                {% include 'auth_toggle.html' with logged_in=True %}>>
            <li><a id="logout-button2" href="#">Login</a></li>
        </ul>
    </div>
</nav>